html, body {
    height: 100%;
}

* {
    outline: none !important;
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    padding: 10px;
}

.gistter_content {
    margin-top: 60px;
}

.text-muted-header {
    color: #98A2AD;
}

.userLogin {
    font-size: 13px;
}

.tweet_resp.ng-enter {
    transition: all linear 500ms;
    opacity: 0;
}
.tweet_resp.ng-enter-active {
    opacity: 1;
}
.tweet_resp.ng-leave {
    transition: all linear 500ms;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.tweet_resp.ng-leave-active {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
}
