html, body {
    height: 100%;
}
footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    padding: 10px;
}

.gistter_content {
    margin-top: 60px;
}

.text-muted-header {
    color: #98A2AD;
}

.userLogin {
    font-size: 13px;
}
