html, body {
    height: 100%;
}

* {
    outline: none !important;
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    padding: 10px;
}

.gistter_content {
    margin-top: 60px;
}

.userLogin {
    width: 100%;
    font-size: 13px;
}
.profile_image {
    width: 40px;
}

.tweet__nick {
    font-weight: 700;
    color: #688dc8;
}
.tweet__nick:hover {
    color: #7fabf1;
}
.tweet__time-since {
    font-size: 10px;
    color: #98A2AD;
}
.tweet__time-since:hover {
    color: #bfccdc;
}

.input-group-addon {
    padding: 5px 5px;
}


.tweet_resp.ng-enter {
    transition: all linear 500ms;
    opacity: 0;
}
.tweet_resp.ng-enter-active {
    opacity: 1;
}
.tweet_resp.ng-leave {
    transition: all linear 500ms;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.tweet_resp.ng-leave-active {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
}
