img.profile {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.circle-icon {
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.50);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 7px;
    line-height: 18px;
    color: #485563;
    cursor: pointer;
}
.circle-icon:hover {
    background: rgba(255, 255, 255, 1);
}
