img.profile {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

i {
    cursor: pointer;
    color: #9DA9B5;
    margin: 5px 10px;
    font-size: 17px !important;
}

i:hover {
    color: #fff !important;
}
