<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gistter</title>
    <base href="/"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/theme/superhero.min.css"/>
    <link rel="stylesheet" href="css/theme/highlight.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="gistter" ng-controller="headerCtrl as header">
    <!-- Barra de navegación -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">Gistter</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" ng-if="!header.isauth()">
                    <li ui-sref-active="active"><a ui-sref="login">Login</a></li>
                    <li ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right" ng-if="header.isauth()">
                    Wellcome {{header.username()}}! <a ng-click="logout()">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <!-- ===================== -->

    <!-- Container -->
    <section class="container">
        <!-- Contenido de la página -->
        <div class="row gistter_content">
            <div class="col-lg-8 col-lg-offset-2">
                <section ui-view></section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        Made by
        <a href="https://github.com/kaseOga" rel="nofollow">Oscar Galindo Villanueva</a>
        and
        <a href="https://github.com/nvohra" rel="nofollow">Naman Vohra</a>
        .
    </footer>
    <!-- ========== -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="build/gistter.js"></script>
</body>
</html>
