<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Gistter</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/theme/superhero.min.css"/>
    <!--<link rel="stylesheet" href="css/style.css"/>-->
<body>
    <!-- NAVBAR -->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Gistter</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right"><li><a href="#">Sign up</a></li></ul>
            </div>
        </div>
    </div>
    <!-- ===================== -->
    <!-- MAIN PAGE -->
    <div class="container" ng-app="validation" ng-controller="FormController">
        <!-- FORM -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="well bs-component">
                    <form name="signupForm" ng-submit="submitForm(signupForm.$valid)" novalidate class="form-horizontal">
                        <fieldset>
                            <legend>Sign up</legend>
                            <!-- NAME -->
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                                <label for="inputName" class="col-lg-2 control-label">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" ng-model="user.name" required>
                                    <p ng-show="signupForm.name.$invalid && !signupForm.name.$pristine" class="help-block">Your Name is required.</p>
                                </div>
                            </div>
                            <!-- USERNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
                                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                                <div class="col-lg-10">
                                    <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username" required>
                                    <p ng-show="signupForm.username.$invalid && !signupForm.username.$pristine" class="help-block">Enter a valid username.</p>
                                </div>
                            </div>
                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" required>
                                    <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                </div>
                            </div>
                            <!-- PASSWORD -->
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                                    <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">Your password is required.</p>
                                </div>
                            </div>
                            <!-- CONFIRMATION PASSWORD -->
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                                <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
                                <div class="col-lg-10">
                                    <input type="password" name="confirmPassword" ng-model="user.confirmPassword"
                                       required compare-to="user.password" class="form-control" id="input" placeholder="Confirm Password">
                                    <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">Your doesn't match.</p>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- SUBMIT -->
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-9">
                                    <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- ========== -->
        <!-- FOOTER -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="pull-right">
                        Made by
                        <a href="https://github.com/kaseOga" rel="nofollow">Oscar Galindo Villanueva</a>
                        and
                        <a href="https://github.com/nvohra" rel="nofollow">Naman Vohra</a>
                        .
                    </p>
                </div>
            </div>
        </footer>
        <!-- ========== -->
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>