<div class="panel panel-default">
    <div class="panel-heading">
        <img src="http://i.imgur.com/SgjlF2v.png" class="profile"/>
        <span class="nickname"><strong>{{tweetData.user.fullname}}</strong></span>
        <small class="text-muted-header"><a class="tweet__nick" ui-sref="profile({username: tweetData.user.username})">
            @{{tweetData.user.username}}</a> - <a class="tweet__time-since"
                                                  ui-sref="tweet({username: tweetData.user.username, id: tweetData._id})"
                                                  am-time-ago="tweetData.created_at"></a>
        </small>
    </div>
    <div class="panel-body">
        <p ng-bind-html="tweetData.body"></p>

        <div class="panel panel-default" style="margin-top: 20px;" ng-if="tweetData.code_html">
            <div class="panel-heading">
                <strong>Gist</strong>
            </div>
            <div class="panel-body" style="padding: 0;" ng-bind-html="tweetData.code_html"></div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <fa name="reply" style="color: rgba(255, 255, 255, 0.50);" ng-click="toresp = !toresp"></fa>
            <fa name="retweet" style="color: rgba(255, 255, 255, 0.50);"></fa>
            <fa name="ellipsis-h" style="color: rgba(255, 255, 255, 0.50);"></fa>
        </div>
        <div class="pull-right">
            <fa name="google"></fa>
            <fa name="facebook"></fa>
            <fa name="twitter"></fa>
        </div>
    </div>
    <div class="panel-body tweet_resp" ng-if="toresp">
        <textarea name="to_resp" id="to_resp" style="width: 100%; height: 100px;" ng-model="treply.body"
                  placeholder="Reply to @{{tweetData.user.username}}"></textarea>

        <button type="submit" class="pull-right btn btn-success clearfix"
                ng-click="replyTweet(tweetData)">Reply
        </button>
    </div>
</div>
