<div class="panel panel-default">
    <div ng-show="User.getMessage()"><h1>{{User.getMessage()}}</h1></div>
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        <form name="userForm" novalidate class="form-horizontal">
            <!-- EMAIL -->
            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Username</label>

                <div class="col-lg-10">
                    <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username"
                           ng-model="user.username" required>
                </div>
            </div>
            <!-- PASSWORD -->
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                <div class="col-lg-10">
                    <input type="password" name="password" class="form-control" id="inputPassword"
                           placeholder="Password"
                           ng-model="user.password" required>

                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" ng-model="user.remember" checked> Remember me
                        </label>
                    </div>

                    <button type="submit" class="pull-right btn btn-primary boton-submit" ng-click="login()">Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
