<!-- FORMULARIO DE REGISTRO -->
<div class="panel panel-default">
    <div class="panel-heading">Sign up</div>
    <div class="panel-body">
        <form name="signupForm" ng-submit="submitForm(signupForm.$valid)" novalidate class="form-horizontal">
            <!-- USERNAME -->
            <div class="form-group"
                 ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
                <label for="inputUsername" class="col-lg-2 control-label">Username</label>

                <div class="col-lg-10">
                    <input type="text" name="username" class="form-control" id="inputUsername"
                           placeholder="Username" ng-model="user.username" required>
                </div>
            </div>
            <!-- EMAIL -->
            <div class="form-group"
                 ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                <div class="col-lg-10">
                    <input type="email" name="email" class="form-control" id="inputEmail"
                           placeholder="Email" ng-model="user.email" required>
                </div>
            </div>
            <!-- PASSWORD -->
            <div class="form-group"
                 ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                <div class="col-lg-10">
                    <input type="password" name="password" class="form-control" id="inputPassword"
                           placeholder="Password" ng-model="user.password" required>
                </div>
            </div>
            <!-- CONFIRMATION PASSWORD -->
            <div class="form-group"
                 ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>

                <div class="col-lg-10">
                    <input type="password" name="confirmPassword" ng-model="user.confirmPassword"
                           required class="form-control" id="input"
                           placeholder="Confirm Password">

                    <button type="submit" class="pull-right btn btn-primary boton-submit" ng-click="signup()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
