<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Tweet something!</div>
            <div class="panel-body">
                <form name="tweet" novalidate class="form-horizontal">
                    <!-- tweet -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="1" id="textArea" placeholder="Tweet something"
                                      required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-info">
                        <fa name="github" size="1"></fa> Add gist
                    </button>
                    <button type="submit" class="pull-right btn btn-success" ng-click="tweet()">Tweetear
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<tweet ng-repeat="i in [1,2,3,4]"></tweet>
