<div class="row">
    <div class="col-sm-7 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Tweet something!</div>
            <div class="panel-body">
                <form name="tweet" novalidate class="form-horizontal">
                    <!-- tweet -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="1" id="textArea" placeholder="Tweet something"
                                      required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="pull-right btn btn-primary boton-submit" ng-click="tweet()">Tweetear
                    </button>
                </form>
            </div>
            <div class="timeline">
                <ol class="ol">
                    <tweet ng-repeat="a in [1,2,3,4,5]"></tweet>
                </ol>
            </div>
        </div>
    </div>
</div>
